body {
    background-color: antiquewhite;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0vw;
}

body > header> h1 {
    margin: 0vw;
    padding: 0.8vw;
    align-items: center;
}

ul {
    margin: 0vw;
}

body > header {
    background-color: rgba(169, 169, 169, 0.856);
    font-family: "Fredoka One", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body > header > nav > ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}



body > main article {
    width: 75%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}




img {
    border-radius: 100%;
}

p {
    font-size: 1.2vw;
}

h1 {
    font-size: 3.5vw;
}

.sidebar {
    position: fixed; /* Fixed position on the left side */
    top: 0;
    left: 0;
    width: 16vw; /* Width of the sidebar */
    height: 100%; /* Full height */
    background-color: #3b3838; 
    padding-top: 2vw; 
    display: flex;
    flex-direction: column; 
}

.sidebar a {
    padding: 0.9vw 0.9vw; /* Padding for links */
    text-decoration: none; /* Remove underline */
    font-size: 1.5vw; /* Font size for links */
    color: white; /* White text color */
    display: block; /* Make links block elements */
    width: 100%; /* Full width to fill the sidebar */
    text-align: left;
    list-style: none;
}


.sidebar a:hover {
    background-color: #575757; /* Darker background on hover */
}



body > footer {
    background-color: rgba(169, 169, 169, 0.856);
    display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;

}

#footer-ul > div > li {
    margin-left: 13.5vw;
}
#footer-ul > div > li > a {
    text-decoration: none;
    color: black;
    padding: 0vw;
}


